.inner {
  height: 600px;
  width: 700px;
  background-image: url("https://wallpapers.com/images/high/storm-lightning-strikes-at-desert-u717lracylesql1y.webp");
  margin-top: 50px;
  opacity: 0.9;
}
.date {
  position: relative;
  right: 270px;
}

.span {
  color: black;
  border-bottom: 4px double rgb(27, 21, 21);
}
.table {
  height: auto;
  color: rgb(231, 180, 12);
  font-weight: 911;
  font-size: 17px;
}
.outer {
  display: flex;
  justify-content: center;
}
.error {
  /* margin: 25px; */
  color: aquamarine;
  font-size: 40px;
  font-weight: 700px;
  position: relative;
  top: 50px;
}
