body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.footer {
  /* position: relative;
  top: 1000px; */
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
